[req]
default_bits       = 4096
default_md         = sha512
prompt             = no
distinguished_name = dn

[dn]
C            = US
ST           = Texas
L            = Arlington
O            = BlackLakeSoftware
OU           = Applications
emailAddress = dpneumo@gmail.com
CN           = stratus.attlocal.net

